body {
	background-color: rgb(255, 206, 147);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: saddlebrown;
    font-size: large;
	}
a {
    color: rgb(139, 69, 19);
    }
a:hover {
    color: rgb(0, 0, 255);
}
a:hover:visited {
    color: rgb(127, 0, 255);
}