@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Sarina&display=swap');
body {
	background-color: rgb(255, 206, 147);
	color: saddlebrown;
	font-size: large;
	}
a {
	font-family: "Playpen Sans", cursive;
	font-weight: 400;
	font-style: normal;
	color: rgb(139, 69, 19);
	}
a:hover {
	color: rgb(0, 0, 255);
	}
a:hover:visited {
	color: rgb(127, 0, 255);
	}
h1 {
	font-family: "Sarina", cursive;
	}
h2 {
	font-family: "Sarina", cursive;
	}
p {
	font-family: "Playpen Sans", cursive;
	font-weight: 400;
	font-style: normal;
	}
li {
	font-family: "Playpen Sans", cursive;
   font-weight: 400;
	font-style: normal;
	}
#cookies {
	border: 10px solid;
	}
